<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/ivan/Escritorio/Otros/Apps/TM200"/>
  <property key="recentFile" value="/home/ivan/Escritorio/Otros/DK94/DK94.gb"/>
  <property key="lastPath" value="/home/ivan/Escritorio/Otros/DK94"/>
  <property key="MenuBG" value="#ff0000"/>
  <property key="WindowBG" value="#0000ff"/>
  <property key="AsideBG" value="#00ff00"/>
</settings>
