<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="MenuBG" value="#1b2224"/>
  <property key="WindowBG" value="#141a1b"/>
  <property key="AsideBG" value="#1b2224"/>
  <property key="FrameBG" value="#222b2e"/>
  <property key="DarkIcons" value="false"/>
</settings>
